.signUpPage {
    position: relative;
	top: 0;
	bottom: 0;
	width: 100%;
	max-width: 500px;
	left: 50%;
	transform: translate(-50%, 0);
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 117px;
}

.titleWrap {
    margin-top: 87px;
}

.contentWrap {
    margin-top: 26px;
    
}

.inputTitle {
    font-size: 12px;
    font-weight: 600;
    padding-left: 10px;
    color: #262626;
}

.inputWrap {
    display: flex;
    border-radius: 8px;
    padding: 16px;
    margin-top: 8px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
    border: 1px solid #e2e0e0;   
}

.inputWrap:focus-within {
    border: 1px solid #0B3479;
}

.input {
    width: 100%;
    outline: none;
    border: none ;
    height: 17px;
    font-size: 14px;
    font-weight: 400;
}

.input::placeholder {
    color : #dadada;
}

.errorMessageWrap {
    margin-top: 8px;
    color: #ef0000;
    font-size: 12px;
    margin-left: 15px;
}

.bottomButton {
    width: 95%;
    height: 48px;
    border: none;
    font-weight: 700;
    background-color: #0B3479;
    border-radius: 64px;
    color: white;
    margin-top: 50px;
    margin-bottom: 16px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;

}

.bottomButton:disabled {
    background-color: #dadada;
    color: white;
}

.loginLogo {
    width: 100%;
}
