@media (max-width: 280px) {
    .board_wrap {
        width: 100%;
        min-width: 320px;
        padding: 0 30px;
        box-sizing: border-box;
    }

    .titleWrap{
        height:200px;
    }

    .textbox1{
        padding-top: 18px;
        font-size: 1.3rem;
    }

    .textbox2{
        font-size: 0.9rem;
        padding-top: 10px;
    }

    .line1{
        font-size: 1.4rem;
    }

    .board_page{
        padding-top: 1px;
    }

    .qnatext{
        font-size: 1rem;
        padding: 0;
        margin: 0;
    }

    .board_list{
        margin: 0;
        font-size: 0;
        height: 400px;
    }


    .board_list .num,
    .board_list .writer {
        display: none;
    }

    .board_list > div > div {
        padding-bottom: 4%;
    }

    .board_list .date {
        width: 40%;
        font-size: 0.8rem;
    }

    .board_list .title {
        text-indent: 10px;
        font-size: 0.8rem;
    }
    .board_list .top .date {
        font-size: 0.95rem;
    }

    .board_list .top .title {
        text-indent: 0;
        font-size: 0.95rem;
    }

    .board_page a {
        width: 26px;
        height: 26px;
    }

    .board_page a.bt {
        padding-top: 7px;
    }
    
    .board_page a.num {
        padding-top: 6px;
        font-size: 15px;
    }

    .board_view .info dl {
        width: 50%;
        padding: 0;
    }

    .board_view .info dl:nth-child(-n+2) {
        margin-bottom: 5px;
    }

    .board_view .info dl::before {
        display: none;
    }

    .board_view .info dl dt,
    .board_view .info dl dd {
        font-size: 1.2rem;
    }

    .board_write .info dl {
        width: 49%;
    }

    .board_write .info dl:first-child {
        margin-right: 2%;
    }

    .textbox2{
     margin: 0;
    }
    
    .board_list .title,
    .board_list .date{
        padding:12px;
    }
    

    .board_view .info{
        display:none;

    }

    .board_page .QButton{
      margin-left: 20%;
      width: 100%;
      font-size: 12px;
    }

    .board_page{
        margin:0;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}