
.qnaPage {
    position: absolute;
	width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    display: flex;
    font-size: 0;
}

.titleWrap {
    width: 100%;
    height: 315px;
    background-color: #0B3479;
    position: relative;
}

.textbox1{
    text-align: center;
    color: #FFFFFF;
    font-size: 3.0rem;
    padding-top: 60px;
}

.line1{
    border-bottom: 2px solid #ddd;
    width: 2%;
    margin-left: 50%;
    padding-top: 30px;
}

.textbox2{       
    text-align: center;
    color: #FFFFFF;
    font-size: 23px;
    margin-top: 30px;
}   


.navbar_menu li{
    color:#0B3479;
    font-size: 1.7rem;
    font-weight: bold;
    float: left;
    padding-top: 45px;
    margin-right: 100px;
}

.navbar_menu li:nth-child(2){
    background-color: #0B3479;
    padding-left: 50px;
    padding-right: 50px;
    color:#ddd;
}




.qnatext{
    width: 100%;
    font-size: 1.8rem;
    color:#000;
    padding-bottom: 15px;
    margin-top: 30px;
    font-weight: bold;
    border-bottom: 4px solid #333;
}

.board_list {
    width: 100%;
    height: 520px;
}

.board_list > div {
    font-size: 0;
}

.board_list > div.top {
    display: flex;

}


.board_list > div > div {
    width: 100%;
    border-bottom: 2px solid #E0E0E0;
    display: inline-block;
    padding: 25px 20px;
    text-align: center;
    font-size: 1.4rem;
}


.board_list > div.top > div {
    font-weight: 600;
}

.board_list .num {
    width: 25%;
}


.board_list .title {
    width: 60%;
    text-align: left;
}

.board_list .top .title {
    text-align: center;

}

.board_list .date {
    width: 10%;
}


.QButton{
    padding: 3px 3px;
    background-color: #0B3479;
    margin-left: 80%;
    color: #FFFFFF;
    font-size: 1.2rem;
    text-align: center;
}

.bt_wrap{
    margin-top: 0;
}


.board_page {
    position: relative;
    text-align: center;
    font-size: 0;
    text-decoration: none;
}

.board_page a {
    display: inline-block;
    width: 50px;
    height: 50px;
    vertical-align: middle;
    border-left: 0;
    line-height: 100%;
}

.board_page a.bt {
    padding-top: 10px;
    font-size: 1.2rem;
    letter-spacing: -1px;
}

.board_page a.num {
    padding-top: 9px;
    font-size: 1.6rem;
}

.board_page a.num.on {
    width:40px;
    height:40px;
    border-color: #0B3479;
    border-radius: 100px;
    background: #0B3479;
    color: #fff;
}

.board_page a.num.on:first-child{
    margin-top: -10px;
}


.board_page{
    display: flex;
    margin-top: 5%;
    font-size: 0;
    padding: 0;

}

.board_page .num{
    margin-left: 45%;
}

.board_page .QButton{
    background-color: #0B3479;
    display: block;
    height: 40px;
    margin-left: 37%;
    border-color: #0B3479;
    
}
