/* --------- */
/*  Preloader */
/* --------- */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-color: #ebebeb;
  background-image: url(./Assets/pre.svg);
  background-repeat: no-repeat;
  background-position: center;
}

#preloader-none {
  opacity: 0;
}

#no-scroll {
  overflow: hidden;
  height: 100vh;
}


/* --------- */
/*  MainBox */
/* --------- */

.mainImg {
  width: 100%;
  height: 800px;
  position: relative;
  display : inline-block;
  margin-top: 10px;
  margin-bottom: 5%;
  max-width: 100%;
  filter: brightness(0.6);
}
.Title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 50px;
    font-weight: bold;
    z-index: 1;
}

/* --------- */
/*  Main2 */
/* --------- */
.blackbox {
  width: 300px;
  height: 300px;
  background-color: black;
  float: center;
  margin: auto;
}
.ArticleTitle {
  color: white;
  font-size: 30px;
  font-weight: bold;
  float: left;
  margin-bottom: 1em;
}
.Article {
  color: white;
  font-size: 20px;
  margin-bottom: 5%;
  float: left;
}



/* --------- */
/*  Footer */
/* --------- */

.footer {
    background-color: #191919;
    padding: 1em;
    margin: 0;
    border: 0;
    border-radius: 0;
    box-shadow: 0 0 0 0;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    transition: all 0.5s ease-in-out;
    text-align: center;
    opacity: 0.8;
}


