
/* --------- */
/*  Preloader */
/* --------- */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-color: #ebebeb;
  background-image: url(./Assets/pre.svg);
  background-repeat: no-repeat;
  background-position: center;
}

#preloader-none {
  opacity: 0;
}

#no-scroll {
  overflow: hidden;
  height: 100vh;
}
/* --------- */
/*  Navbar */
/* --------- */


.logo {
  height: 3em !important;
  width: 10em !important;
}

.navbar {
  position: fixed !important;
  transition: all 0.3s ease-out 0s !important;
  padding: 0.3rem 2rem !important;
  font-size: 1.2rem !important;
  z-index: 9999 !important;
  width: 100%;
}

.navbar-brand {
  color: white !important;
  font-weight: bold;
}

.navbar-nav .nav-link {
  color: white !important;
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

.nav-link {
  padding: 0.8rem 1rem !important;
}
/* --------- */
/*  MainBox */
/* --------- */

.MainImg {
  width: 100%;
  height: 700px;
  position: relative;
  display : inline-block;
  margin-top: 10px;
  margin-bottom: 5%;
  max-width: 100%;
  filter: brightness(0.6);
}
.Title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 50px;
    font-weight: bold;
    z-index: 1;
}

.MainButton {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 60px;
  font-weight: bold;
  z-index: 1;
  background-color: #191919;
  border: 0;
  border-radius: 7px;
  box-shadow: 0px 2px 1px 2.4px gray;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  text-align: center;
  opacity: 0.9;
}

.DownButton {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 60px;
  z-index: 1;
  background: none;
  border: 0;
  border-radius: 7px;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  text-align: center;
  opacity: 0.9;
}

/* --------- */
/*  Main2 */
/* --------- */
.blackbox {
  width: 350px;
  height: 350px;
  background-color: black;
  float: center;
  margin: auto;
}
.ArticleTitle {
  color: white;
  font-size: 30px;
  font-weight: bold;
  float: left;
  margin-bottom: 1em;
}
.Article {
  color: white;
  font-size: 20px;
  margin-bottom: 5%;
  float: left;
}



/* --------- */
/*  Main3 */
/* --------- */
.tempBox {
  width: 100%;
  height: 600px;
  background-color: #ebebeb;
  float: center;
  margin: auto;
}



/* --------- */
/* Main4 */
/* --------- */
.experience-section {
  position: relative !important;
  padding-top: 150px !important;
  padding-bottom: 30px !important;
  background-image: var(--section-background-color) !important;
}

.experience-card {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
  height: auto !important;
}

.experience-card-view {
  box-shadow: 0 4px 5px 3px rgba(232, 227, 220, 0.8) !important;
  color: #000 !important;
  font-weight: 600;

  background-color: #ebebeb !important;
  opacity: 1 !important;
  transition: all 0.5s ease 0s !important;
  height: 100% !important;
}
.experience-card-view:hover {
  transform: scale(1.04) !important;
  overflow: hidden !important;
  box-shadow: 0 4px 4px 5px rgba(239, 228, 212, 1) !important;
}

.card-img-top {
  padding: 20px !important;
  opacity: 0.8 !important;
  border-radius: 10px !important;
}


.experience-heading {
  text-align: center;
  color: white !important;
  font-size: 3.6em !important;
  font-weight: 500 !important;
  padding-bottom: 2em !important;
}




/* --------- */
/*  Footer */
/* --------- */

.footer {
    background-color: #191919;
    padding: 1em;
    margin: 0;
    border: 0;
    border-radius: 0;
    box-shadow: 0 0 0 0;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    transition: all 0.5s ease-in-out;
    text-align: center;
    opacity: 0.8;
}

/* --------- */
/*  ScrollTop */
/* --------- */

.ScrollTop {
  position: fixed;
  bottom: 4.5em;
  right: 1em;
  width: 50px;
  height: 50px;
  border: 0;
  border-radius: 25px;
  box-shadow: 0px 2px 1px 2.4px gray;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  text-align: center;
  opacity: 0.9;
  z-index: 999999;
}

.ScrollButton {
  color: white;
  border: none;
  background: none;
  font-size: 1.5em;
  
}